# Node
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env
*.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.zip
